.signup-contianer {
  overflow-y: scroll;
  height: 600px;
  width: 800px;
}
.signup-contianer::-webkit-scrollbar {
  display: none;
}
.middle-con {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-height: 50vh; */
  min-height: 100vh;
  background-color: #90caf9;
}
.form-for-signup {
  display: flex;
  flex-direction: column;
}
.name-cont {
  display: flex;
  flex-direction: column;
}
.name-cont > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.pass-cont {
  display: flex;
  flex-direction: column;
}
.pass-cont > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.phone {
  display: flex;
  flex-direction: column;
}
.phone > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.email {
  display: flex;
  flex-direction: column;
}
.email > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.age {
  display: flex;
  flex-direction: column;
}
.age > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.gender {
  display: flex;
  flex-direction: column;
}
.gender > select {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.state {
  display: flex;
  flex-direction: column;
}
.state > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.org {
  display: flex;
  flex-direction: column;
}
.org > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.aadhar {
  display: flex;
  flex-direction: column;
}
.aadhar > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
  width: 100%;
}
.pan {
  display: flex;
  flex-direction: column;
}
.pan > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
  /* width: 100%; */
}
.pic {
  display: flex;
  flex-direction: column;
}
.pic > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.a-img {
  display: flex;
  flex-direction: column;
}
.a-img > input {
  /* border-radius: 20px; */
  border: none;
  background-color: #eeeeee;
  /* border-bottom: 1px solid blue; */
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  color: black;
  font-family: inherit;
  outline: none;
}
.pic-cont {
  display: flex;
  flex-direction: row;
}
.docs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
