@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");
body {
  padding: 0;
  margin: 0;
}
.progressbar__wrapper {
  margin: 100px auto 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media (min-width: 480px) {
  .progressbar__wrapper {
    width: 80%;
  }
}
.progressbar__wrapper h1 {
  margin-bottom: 150px;
  text-align: center;
  text-transform: uppercase;
}
.progressbar__wrapper > a {
  position: absolute;
  top: 80px;
  right: 20px;
  font-size: 12px;
}
.progressbar {
  margin: 0 20px;
  background-color: #421f77;
  border-radius: 15px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  border-radius: 20px;
  height: 16.6666666667px;
  font-size: 0;
  border: 5px solid #421f77;
}
@media (min-width: 768px) {
  .progressbar {
    height: 20px;
    border: 6px solid #421f77;
  }
}
.progressbar li {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 22%;
  height: 100%;
  color: #c7cbdb;
}
.progressbar li:first-child::before {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.progressbar li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.progressbar li::before {
  transition: width 0.5s ease-in-out;
}
.progressbar li .progressbar__circle {
  transition-property: border-color, background-color;
}
.progressbar__circle {
  height: 58.3333333333px;
  width: 58.3333333333px;
  bottom: -20.8333333333px;
  position: absolute;
  background-color: #421f77;
  border-radius: 100%;
  border: 4px solid;
  border-color: #421f77;
  right: -2px;
  z-index: 1;
}
@media (min-width: 768px) {
  .progressbar__circle {
    height: 70px;
    width: 70px;
    bottom: -25px;
  }
}
.progressbar__circle span {
  left: 0;
  right: 0;
  position: absolute;
  color: #333;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.progressbar__circle span.bottom {
  bottom: -40px;
}
.progressbar.active li .progressbar__circle {
  transition-property: border-color, background-color;
}
.progressbar.active li .progressbar__circle svg {
  color: #fff;
}
.progressbar.active li .progressbar__circle .bottom {
  transition: color 0.5s ease-in-out;
}
.progressbar.active li:first-child::before {
  background-image: linear-gradient(
    109.2deg,
    rgba(180, 131, 255, 1) 9.3%,
    rgba(165, 105, 255, 1) 89.5%
  );
}
.progressbar.active li:first-child .progressbar__circle {
  background-color: rgba(165, 105, 255, 1);
}
.progressbar.active li:first-child .progressbar__circle .bottom {
  color: rgba(171, 115, 255, 1);
}
.progressbar.active li:nth-child(2)::before {
  background-image: linear-gradient(
    109.2deg,
    rgba(165, 105, 255, 1) 9.3%,
    rgba(149, 80, 255, 1) 89.5%
  );
}
.progressbar.active li:nth-child(2) .progressbar__circle {
  background-color: rgba(149, 80, 255, 1);
}
.progressbar.active li:nth-child(2) .progressbar__circle .bottom {
  color: rgba(149, 80, 255, 1);
}
.progressbar.active li:nth-child(3)::before {
  background-image: linear-gradient(
    109.2deg,
    rgba(149, 80, 255, 1) 9.3%,
    rgba(134, 54, 255, 1) 89.5%
  );
}
.progressbar.active li:nth-child(3) .progressbar__circle {
  background-color: rgba(134, 54, 255, 1);
}
.progressbar.active li:nth-child(3) .progressbar__circle .bottom {
  color: rgba(134, 54, 255, 1);
}
.progressbar.active li:nth-child(4)::before {
  background-image: linear-gradient(
    109.2deg,
    rgba(134, 54, 255, 1) 9.3%,
    rgba(118, 29, 255, 1) 89.5%
  );
}
.progressbar.active li:nth-child(4) .progressbar__circle {
  background-color: rgba(118, 29, 255, 1);
}
.progressbar.active li:nth-child(4) .progressbar__circle .bottom {
  color: rgba(118, 29, 255, 1);
}
.progressbar.active li::before {
  width: 99%;
  transition: width 0.5s ease-in-out;
}
.progressbar.active li::after {
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.progressbar.active li .progressbar__circle {
  animation: bounce 0.5s ease-in-out;
}
.progressbar.active li:nth-child(1) .progressbar__circle {
  transition-delay: 1.5s;
  animation: bounce 0.5s ease-in-out 1.5s;
}
.progressbar.active li:nth-child(1) .progressbar__circle svg {
  transition-delay: 1.5s;
}
.progressbar.active li:nth-child(1) .progressbar__circle span {
  transition-delay: 1.5s;
}
.progressbar.active li:nth-child(1)::after {
  width: 55%;
  transition-delay: 2s;
}
.progressbar.active li:nth-child(1)::before {
  transition-delay: 1s;
}
.progressbar.active li:nth-child(2) .progressbar__circle {
  transition-delay: 2.5s;
  animation: bounce 0.5s ease-in-out 2.5s;
}
.progressbar.active li:nth-child(2) .progressbar__circle svg {
  transition-delay: 2.5s;
}
.progressbar.active li:nth-child(2) .progressbar__circle span {
  transition-delay: 2.5s;
}
.progressbar.active li:nth-child(2)::after {
  width: 55%;
  transition-delay: 3s;
}
.progressbar.active li:nth-child(2)::before {
  transition-delay: 2s;
}
.progressbar.active li:nth-child(3) .progressbar__circle {
  transition-delay: 3.5s;
  animation: bounce 0.5s ease-in-out 3.5s;
}
.progressbar.active li:nth-child(3) .progressbar__circle svg {
  transition-delay: 3.5s;
}
.progressbar.active li:nth-child(3) .progressbar__circle span {
  transition-delay: 3.5s;
}
.progressbar.active li:nth-child(3)::after {
  width: 55%;
  transition-delay: 4s;
}
.progressbar.active li:nth-child(3)::before {
  transition-delay: 3s;
}
.progressbar.active li:nth-child(4) .progressbar__circle {
  transition-delay: 4.5s;
  animation: bounce 0.5s ease-in-out 4.5s;
}
.progressbar.active li:nth-child(4) .progressbar__circle svg {
  transition-delay: 4.5s;
}
.progressbar.active li:nth-child(4) .progressbar__circle span {
  transition-delay: 4.5s;
}
.progressbar.active li:nth-child(4)::after {
  width: 55%;
  transition-delay: 5s;
}
.progressbar.active li:nth-child(4)::before {
  transition-delay: 4s;
}
.progressbar.active li:nth-child(5) .progressbar__circle {
  transition-delay: 5.5s;
  animation: bounce 0.5s ease-in-out 5.5s;
}
.progressbar.active li:nth-child(5) .progressbar__circle svg {
  transition-delay: 5.5s;
}
.progressbar.active li:nth-child(5) .progressbar__circle span {
  transition-delay: 5.5s;
}
.progressbar.active li:nth-child(5)::after {
  width: 55%;
  transition-delay: 6s;
}
.progressbar.active li:nth-child(5)::before {
  transition-delay: 5s;
}
.progressbar li .progressbar__circle svg {
  color: #e5e6ea;
  transition: color ease-in;
  position: relative;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.progressbar li::before {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}
.progressbar li:last-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  left: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(118, 29, 255, 1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
